{# post_card.html - single blog post card. #}
<article class="post-card" data-post-id="{{ post.id }}">
  <time class="post-card__time" datetime="{{ post.created_at.isoformat() }}">
    {{ post.created_at.strftime('%d.%m.%Y %H:%M') }}
  </time>

  {% if post.image_filename %}
    <img
      src="{{ url_for('static', filename='images/blog/' + post.image_filename) }}"
      alt="Post image"
      class="post-card__image"
      loading="lazy"
    />
  {% endif %}

  {% if post.text %}
    <p class="post-card__text">{{ post.text }}</p>
  {% endif %}
</article>
